.room-wrapper {

  .players-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .player {
      box-sizing: border-box;
      position: relative;
      width: 25%;
      padding: 5px;
      
      &.empty {
        .player-header {
          background: #fff;
          color: #26a2ff;
        }
      }
      &.master.self {
        .player-header {
          &::after {
            left: 20px;
          }
        }
      }

      &.master {
        .player-header {
          &::before {
            content: '主';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            background: #fff;
            color: #26a2ff;
            font-size: 10px;
          }
        }
      }

      &.self {
        .player-header {
          &::after {
            content: '我';
            position: absolute;
            top: 0;
            // left: 20px;
            left: 0;
            width: 20px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            background: #fff;
            color: #26a2ff;
            font-size: 10px;
          }
        }
      }

      .player-header {
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: #26a2ff;
        color: #fff;
        font-size: 36px;
      }

      .player-name {
        margin-top: 4px;
        text-align: center;
        font-size: 12px;
        color: #26a2ff;
      }
    }
  }

  .chat-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;

    .chat-input {
      flex: 1;
    }
  }

  .msg-wrapper {
    .msg-list {
      .msg-item {
        padding: 8px 10px;
        background: #fff;
        font-size: 16px;
        &.me {
          background-color: #eee;
        }
      }
    }
  }
}