
.game-wrapper {
  .left-key {
    flex: 1;
  }

  .answer-wrapper {
    display: flex;
    align-items: center;
    margin-top: 2px;

    .answer-input {
      flex: 1;
    }
  }

  .players-wrapper {
    box-sizing: border-box;
    margin-top: 10px;
    .players-list {
      display: flex;
      align-items: center;

      .player-item {
        box-sizing: border-box;
        width: 25%;
        padding: 8px;

        &.painter {
          &.me {
            .player-head {
              &::after {
                left: 20px;
              }
            }
          }

          .player-head {
            background: #006dbf;

            &::before {
              content: '画';
              position: absolute;
              top: 0;
              left: 0;
              padding: .2em;
              font-size: 10px;
              color: #26a2ff;
              background: #fff;
            }
          }
        }

        &.me {
          .player-head {
            &::after {
              content: '我';
              position: absolute;
              top: 0;
              left: 0;
              padding: .2em;
              font-size: 10px;
              color: #26a2ff;
              background: #fff;
            }
          }
        }

        .player-head {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 68px;
          background: #26a2ff;
          color: #fff;
          font-size: 36px;

          .score {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 10px;
            padding: .2em;
            color: #26a2ff;
            background: #fff;
          }
        }

        .player-name {
          margin-top: 4px;
          font-size: 14px;
          color: #26a2ff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
