
.game-wrapper {
  position: relative;

  .left-key {
    flex: 1;
    // font-size: 12px;
  }

  .answer-wrapper {
    display: flex;
    align-items: center;
    margin-top: 2px;

    .answer-input {
      flex: 1;
    }
  }

  .players-wrapper {
    box-sizing: border-box;
    margin-top: 10px;
    .players-list {
      display: flex;
      align-items: center;

      .player-item {
        box-sizing: border-box;
        width: 25%;
        padding: 8px;

        &.offline {
          .player-head {
            background: #aaa;
          }
        }

        &.painter {
          &.me {
            .player-head {
              &::after {
                left: 20px;
              }
            }
          }

          .player-head {
            background: #006dbf;

            &::before {
              content: '画';
              position: absolute;
              top: 0;
              left: 0;
              padding: .2em;
              font-size: 10px;
              color: #26a2ff;
              background: #fff;
            }
          }
        }

        &.me {
          .player-head {
            &::after {
              content: '我';
              position: absolute;
              top: 0;
              left: 0;
              padding: .2em;
              font-size: 10px;
              color: #26a2ff;
              background: #fff;
            }
          }
        }

        .player-head {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 68px;
          background: #26a2ff;
          color: #fff;
          font-size: 36px;

          .score {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 10px;
            padding: .2em;
            color: #26a2ff;
            background: #fff;
          }
        }

        .player-name {
          margin-top: 4px;
          font-size: 14px;
          color: #26a2ff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .text-scroll-wrapper {
    position: absolute;
    top: 40px;
    min-width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .2);
    overflow: hidden;
    transition: all .5s;
    font-size: .9em;

    .text-auto-scroll {
      width: 10000%;
      margin-left: 80%;
      .text-list {
        display: inline-block;
        span + span {
          padding-left: 30vw; 
        }

        .normal {
          font-size: 0.9em;
        }

        .answer {
          font-size: 1.2em;
          color: #26a2ff;
        }

        .notify {
          color: red;
        }
      }
    }
  }

  .answer-text {
    font-size: 1.2em;
    color: #26a2ff;
  }
}
